
*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #787878;
    text-align: left;
    background-color: #fff;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
a, .btn, button {
    text-decoration: none;
    outline: none;
}
html {
    font-family: 'Gilroy', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #000;
}
input[type=text]:focus, input[type=date]:focus, textarea:focus, input[type=number]:focus, .selectpickers:focus, input[type=datetime-local], input[type=month], input[type=time]:focus, 
.custom-select:focus, select.form-control:focus, input[type=email]:focus, input[type=file]:focus, textarea.form-control:focus, input[type=search]:focus, 
input[type=datetime-local]:focus, button:focus, input[type=month]:focus, .form-select:focus, input[type=phone]:focus, input[type=password]:focus
{
  box-shadow: none;
  border-color: #03234a;
  outline: none;
}
.Book_wiki_header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 0.78px;
    text-align: left;
    color: #6c757d;
    padding: 0;
    transition: all .6s ease-in-out;
}
.Book_wiki_header .navbar .navbar-nav .nav-item+ .nav-item {
    margin-left: 40px;
}
.Book_wiki_header .navbar .navbar-nav .nav-item.active .nav-link, .Book_wiki_header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #0d6efd;
}
.book_wiki_navbar{
    padding: 20px 0;
}
.menu_Contact_US{
    border-radius: 10px;
    border: solid 1px #6c757d;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.08px;
    text-align: center;
    color: #6c757d;
    text-decoration: none;
    padding: 6px 24px;
    transition: all .6s ease-in-out;
}
.menu_Contact_US:hover{
    border: solid 1px #0d6efd;
    color: #0d6efd;
    box-shadow: none;
    outline: none;
}
.menu_Contact_US+ .menu_Contact_US{
    margin-left: 21px;
}
.cart_icon{
    border: 0;
    padding: 0;
}
.cart_icon svg{
    width: 16px;
    height: 16px;
    stroke-width: 2.5px;
    margin-top: -2px;
}
.cart_icon:hover{
    color: #0d6efd;
    outline: none;
    box-shadow: none;
    border: 0;
}
.book_wiki_navbar .navbar-brand {
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #6c757d;
    text-decoration: none;
    display: block;
    transition: all .6s ease-in-out;
}
.book_wiki_navbar .navbar-brand:hover {
    color: #6c757d;
}
